<link href="~/css/MyStyle.css" rel="stylesheet" />
<title>Login Page</title>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" id="txtEmailId" class="form-control" placeholder="Enter EmailId">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" id="password" class="form-control" placeholder="Enter Password">
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div>
                    <div class="form-group">
                        <input type="button" id="btnSubmit" value="Login" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="#">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            var emailRegex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
            var EmailId = $('#txtEmailId').val();
            var Password = $('#password').val();
            $(".error-div").remove();
            if (EmailId == '') {
                $("#txtEmailId").focus();
                $("#txtEmailId").after('<span class="error-div "style="color: #ff0202;"> &nbsp*Please Enter the EmailId!</span>');
                return false;
            } else if (!emailRegex.test(EmailId)) {
                $("#txtEmailId").focus();
                $("#txtEmailId").after('<span class="error-div" style="color: #ff0202;"> &nbsp*Please Enter the valid Email!</span>');
                return false;
            } else if (Password == '') {
                $("#password").focus();
                $("#password").after('<span class="error-div" style="color: #ff0202;"> &nbsp*Enter Password!</span>');
                return false;
            } else if (!passwordRegex.test(Password)) {
                $("#password").focus();
                $("#password").after('<span class="error-div" style="color: #ff0202;"> &nbsp*Enter the valid Password!</span>');
                return false;
            }
            var LoginData = {
                "EmailId": EmailId,
                "Password": Password,
            };
            $.ajax({
                url: '/api/Student/InsertStudentsDetail',
                type: 'POST',
                dataType: 'json',
                data: LoginData,
                success: function (result, textStatus, xhr) {
                    if (result.Status == '1') {
                        window.location.href = "/Joining/UserProfile";
                    }
                    if (result.Status == '0') {
                        $("#massage").text(result.Message);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                }
            });
        });
    });
</script>


